langchain==0.0.336
pymupdf==1.23.14
chromadb==0.3.22
openai==0.27.7
pygpt4all==1.1.0
pygptj==2.0.3
urllib3==2.0.2
python-dotenv==1.0.0
pydantic==1.10.9
accelerate==0.24.1
protobuf==3.20.3
nvitop==1.1.2
tqdm==4.65.0
requests==2.31.0
lxml==4.9.2
pandas==1.5.3
loralib==0.1.1
scikit-learn==1.2.2
pillow==9.5.0
transformers==4.35.2
bitsandbytes==0.41.1
xformers==0.0.20
peft==0.6.2
fastapi==0.99.1
python-multipart==0.0.6
uvicorn==0.23.1
SQLAlchemy==2.0.15

llama-cpp-python==0.2.39
exllamav2==0.0.3
auto-gptq==0.5.1
InstructorEmbedding==1.0.1

streamlit==1.29.0
streamlit_agraph==0.0.45
streamlit-code-editor==0.1.10
streamlit-extras==0.3.6
plotly==5.18.0
networkx==3.2.1
pyvis==0.3.2

-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
torchvision==0.15.2+cpu