python-dotenv==1.0.0
nvitop==1.1.2
tqdm==4.65.0
keyboard==0.13.5

pyaudio==0.2.14
sounddevice==0.4.6
vosk==0.3.45
pocketsphinx==5.0.3
openai-whisper==20231117
faster-whisper==1.0.2
speechrecognition==3.10.3
pyttsx3==2.90
tts==0.22.0
deepspeed==0.10.3

urllib3==2.0.2
requests==2.31.0
lxml==4.9.2

pandas==1.5.3
scikit-learn==1.4.2
pillow==9.5.0

langchain==0.0.245
pymupdf==1.23.14
chromadb==0.3.22

transformers==4.40.1
accelerate==0.29.3
protobuf==4.25.3
loralib==0.1.1
bitsandbytes==0.43.1
peft==0.10.0

fastapi==0.99.1
pydantic==1.10.9
python-multipart==0.0.6
uvicorn==0.23.1
SQLAlchemy==2.0.15

prompt-toolkit==3.0.43
streamlit==1.29.0
streamlit-code-editor==0.1.10
streamlit-extras==0.3.6