https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_cuda-0.2.74+cu121-cp310-cp310-linux_x86_64.whl
https://github.com/jllllll/AutoGPTQ/releases/download/v0.6.0/auto_gptq-0.6.0+cu121-cp310-cp310-linux_x86_64.whl
https://github.com/oobabooga/exllamav2/releases/download/v0.0.20/exllamav2-0.0.20+cu121-cp310-cp310-linux_x86_64.whl
ctransformers[cuda]==0.2.27

-f https://download.pytorch.org/whl/cu121
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
xformers
