llama-cpp-python[server]
coqui-tts
chromadb
click
openai-whisper
faster-whisper
requests
pyaudio
sounddevice
nvitop
python-dotenv
psutil
SpeechRecognition
lxml
urllib3
tqdm
pydantic
keyboard
prompt-toolkit

-f https://download.pytorch.org/whl/cu121
torch==2.2.2 
torchvision==0.17.2 
torchaudio==2.2.2
xformers
